@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

body {
    background: #000;
}

/* ------------------------------------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    transition: 1s;

}


.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.sticky {
    /* transition: 0.5s; */
    background-color: #fff;
}

.sticky .inner {
    padding: 0.2rem;
    transition: 0.3s;
}

.sticky .inner .logo a,
.sticky .inner ul a {
    color: #000;
}


.inner .logo {
    position: relative;
}

.inner .logo a {
    font-weight: 800;
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;

    /* ตัวพิมใหญ่ */
    text-transform: uppercase;
    /* ระยะห่างระหว่างตัวอักษร */
    letter-spacing: 5px;
    transition: 0.5s;
}

.inner ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner ul li {
    position: relative;
    list-style: none;
}

.inner ul li a {
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.5s;
}

/* ---------------------------------------------------------- */

.section1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(pic/happy-birthday-154242_1280.png )no-repeat;
    background-size: contain;
    background-position: center;
}

audio{
    margin-top: 4rem;
    width: 100%;
}

/* ------------------------------------------------- */

.section2 {
    height: 100vh;
    font-family: "Dancing Script", cursive;
}

.sec2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem;
    /* border: 2px solid #fff;
    border-radius: 20px; */
}

.sec2-info {
    color: #fff;
    text-align: center;
}

.images img {
    margin-top: 2rem;
    width: 70%;
    border-radius: 20px;
    text-align: center;
}

.sec2 h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sec2 h2 {
    font-size: 1.8rem;
    line-height: 3rem;
}

/* --------------------------------------------------------------- */

.section3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;

}


.slider {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    width: 400px;
    height: 600px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);

    }
}


.slider div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*600deg)) translateZ(150px);
}

.slider div img {
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 100px;
    padding: 1rem;
    object-fit: cover;
    transition: 2s;
}

/* ----------------------------------------- */

.footer1 {
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Itim", cursive;
}

.foot1-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.foot1-img img {
    width: 80%;
    border-radius: 20px;
}

.foot1-info {
    color: #fff;
}

.foot1-info h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.3rem;
}

.foot1-info p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}


/* ----------------------------------------- */

.footer-bot {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
}

/* ********************************************************* */
@media screen and (max-width: 600px) {
    nav .inner ul {
        font-size: 0.8rem;
    }

    .inner ul li a {
        margin: 0 1rem;
    }


    /* ****************************************************** */
    .sec2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sec2 .images {
        text-align: center;
    }

    .sec2-info h1{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    /* ************************************************************** */

    .sec3{
        width: 100%;
    }

    .slider{
        width: 250px;
        height: 400px;
    }

    .slider div{
        padding: 1rem;
        transform: rotateY(calc(var(--i)*600deg)) translateZ(100px);

    }

    /* ************************************************************** */

    .foot1-top{
        display: flex;
        flex-direction: column;
    }

    .foot1-img{
        width: 70%;
        text-align: center;
        margin-bottom: 1rem;
    }   

    .foot1-info h1{
        font-size: 2rem;
        margin-bottom: 0;
    }

    .foot1-info p{
        font-size: 1rem;
        padding: 1rem;
    }
}

/* ******************************************************* */

@media screen and (max-width: 850px){

    .sec2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sec2 .images {
        text-align: center;
        padding: 1rem;
    }

    .foot1-top{
        display: flex;
        flex-direction: column;
    }

    .foot1-img{
        width: 70%;
        text-align: center;
        margin-bottom: 1rem;
    }  


    .foot1-info p{
        font-size: 1.5rem;
        padding: 1rem;
    }
}